# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so
*.whl

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
htmlcov/
.nox/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# OS
.DS_Store
.Trashes
Thumbs.db

# PyInstaller
*.spec
